.cotenido-horizontal {
  text-align: center;
  max-height: 90vh;
  margin-bottom: 5%;
}

.boton-agregar-activo {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.boton-agregar-activo:hover {
  background-color: #45a049;
}

.boton-atras{
  padding: 2%;
}

.resultados-horizontal{
  max-height: 100vh;
  margin: 10% 5% 5% 5%;
  text-align: center;
}
